
body {
    background-color: #ffffff;
}

.bodydiv {

}

.area {
    float: left;
    width: 25%;
    margin:4%;

}

.areatitle {
    font-family: Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
}

.buff {
    border: 1px solid #000000;
    text-align: center;
    margin-top: 50px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

.bluebuff {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2973bd;
}

.redbuff {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #9b2f04;
}

.baron {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #9c145c;

}

.dragon {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #416732;
}
