
body {
    background-color: rgb(34, 34, 34);
}

.header {
    text-align: center;
    padding-bottom: 50px;
    font-family: helvetica, sans-serif;
}

.bodydiv {

}

.area {
    float: left;
    width: 25%;
    margin:4%;
}

.areatitle {
    font-family: verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    
}

.buff {
    border: 2px solid;
    border-radius: 10px;
    border-color: #ffdb4c;
    text-align: center;
    margin-top: 50px;
    font-family: verdana, sans-serif;
    cursor: pointer;
    overflow:hidden;
    color:white;
    font-weight: bold;
}

.bluebuff {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2973bd;
}

.redbuff {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #9b2f34;
}

.baron {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #9c145c;
}

.dragon {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #416732;
}
