
body {
    background-color: #ffffff;
}

.header {
    text-align: center;
    padding-bottom: 50px;
    font-family: helvetica, sans-serif;
}

.bodydiv {

}

.area {
    float: left;
    width: 25%;
    margin:4%;
}

.areatitle {
    font-family: verdana, sans-serif;
    font-size: x-large;
    text-align: center;
}

.areavoice {
    float: left;
    width: 16%;
    margin-left: 42%;
    margin-right: 42%;
}

.optiongroup {
    width: 25%;
    float: left;
    margin-right: 10px;
}

#options {
    margin: 4px;
}

#options label {
    overflow: auto;
    float: left;
    width:100%;
}

#options label input {
   display: none; 
}

#options label div {
    text-align: center;
    background-color: #EFEFEF;
}

#options input:checked + div {
    background-color: #ffa500;
}


.buff {
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    font-family: verdana, sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.bluebuff {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2973bd;
}

.redbuff {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #9b2f04;
}

.baron {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #9c145c;

}

.dragon {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #416732;
}

#normal {
    background-color: #ffa500;
}
